body {
    margin-top: 70px;
}

a {
    color:inherit;
    text-decoration: none;
}

.label-as-badge {
    border-radius: 1em;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.footer {
    text-align: center;
}

.member {
    padding: 5px;
}

.btn {
    margin: 2px;
}